Activity8a-Human-in-the-Loop.json
{
  "name": "HR Portal \u2014 Leave Application & Manager Approval (Human-in-the-Loop)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hr-leave-apply",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "a93c21f1-5da9-4341-a228-1b59872ef9da",
      "name": "Leave Submitted",
      "webhookId": "f74d8826de7e470d"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"submitted\", \"message\": \"Your leave application was submitted and emailed to your manager for approval.\" } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        240,
        0
      ],
      "id": "20559e8a-7a3b-4805-bebd-cfe8b6801054",
      "name": "Ack to Portal"
    },
    {
      "parameters": {
        "sendTo": "angch@tertiaryinfotech.com",
        "subject": "=Leave approval needed: {{ $('Leave Submitted').item.json.body.employee }}",
        "message": "=Employee: {{ $('Leave Submitted').item.json.body.employee }}\nEmail: {{ $('Leave Submitted').item.json.body.email }}\nType: {{ $('Leave Submitted').item.json.body.leaveType }}\nDates: {{ $('Leave Submitted').item.json.body.startDate }} to {{ $('Leave Submitted').item.json.body.endDate }} ({{ $('Leave Submitted').item.json.body.days }} day(s))\nReason: {{ $('Leave Submitted').item.json.body.reason }}\n\nPlease approve or decline this leave request.",
        "options": {},
        "operation": "sendAndWait",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        480,
        0
      ],
      "id": "96de4e0b-6a64-4828-8219-d8a3b3c9266e",
      "name": "Manager Approval",
      "webhookId": "6f70c8b7ccbb4444",
      "credentials": {
        "gmailOAuth2": {
          "id": "MTzer4MNXRwyE36l",
          "name": "Gmail OAuth (Sales Account)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "75663a9a-4eea-44b3-b570-28c62c7a6d22",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        720,
        0
      ],
      "id": "4033c038-5993-406c-a2a2-66ce1e003b00",
      "name": "If Approved"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Leave Submitted').item.json.body.email }}",
        "subject": "=Your leave request is APPROVED",
        "message": "=Hi {{ $('Leave Submitted').item.json.body.employee }},\n\nGood news! Your {{ $('Leave Submitted').item.json.body.leaveType }} leave from {{ $('Leave Submitted').item.json.body.startDate }} to {{ $('Leave Submitted').item.json.body.endDate }} has been APPROVED by your manager.\n\nEnjoy your time off!\nHR Buddy",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        960,
        -120
      ],
      "id": "818e0bdc-95e8-4ff7-9965-37e05438dd2c",
      "name": "Notify Approved",
      "webhookId": "2005543e2f2145ce",
      "credentials": {
        "gmailOAuth2": {
          "id": "MTzer4MNXRwyE36l",
          "name": "Gmail OAuth (Sales Account)"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Leave Submitted').item.json.body.email }}",
        "subject": "=Your leave request was declined",
        "message": "=Hi {{ $('Leave Submitted').item.json.body.employee }},\n\nUnfortunately your {{ $('Leave Submitted').item.json.body.leaveType }} leave request from {{ $('Leave Submitted').item.json.body.startDate }} to {{ $('Leave Submitted').item.json.body.endDate }} was NOT approved. Please speak with your manager for details.\n\nHR Buddy",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        960,
        120
      ],
      "id": "7fdf1baf-faf7-48d1-b7d6-50e2f70c6b62",
      "name": "Notify Declined",
      "webhookId": "f311ae202af640ee",
      "credentials": {
        "gmailOAuth2": {
          "id": "MTzer4MNXRwyE36l",
          "name": "Gmail OAuth (Sales Account)"
        }
      }
    }
  ],
  "connections": {
    "Leave Submitted": {
      "main": [
        [
          {
            "node": "Ack to Portal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ack to Portal": {
      "main": [
        [
          {
            "node": "Manager Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manager Approval": {
      "main": [
        [
          {
            "node": "If Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Approved": {
      "main": [
        [
          {
            "node": "Notify Approved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Declined",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "pinData": {},
  "meta": {
    "templateId": "tertiaryinfotech-n8n-course"
  },
  "tags": []
}