Activity8a-Human-in-the-Loop.json
{
  "name": "HR Portal \u2014 Leave Application & Manager Approval (Human-in-the-Loop)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hr-leave-apply",
        "responseMode": "onReceived",
        "responseData": "={{ { \"status\": \"submitted\", \"message\": \"Your leave application was submitted and emailed to your manager for approval.\" } }}",
        "options": {
          "allowedOrigins": "*",
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "3a288cf6-d5e0-4fd2-9f0c-08bd29a937ec",
      "name": "Leave Submitted",
      "webhookId": "9ee32a35fa3e4e76"
    },
    {
      "parameters": {
        "sendTo": "angch@tertiaryinfotech.com",
        "subject": "=Leave approval needed: {{ $('Leave Submitted').item.json.body.employee }}",
        "message": "=Employee: {{ $('Leave Submitted').item.json.body.employee }}\nEmail: {{ $('Leave Submitted').item.json.body.email }}\nType: {{ $('Leave Submitted').item.json.body.leaveType }}\nDates: {{ $('Leave Submitted').item.json.body.startDate }} to {{ $('Leave Submitted').item.json.body.endDate }} ({{ $('Leave Submitted').item.json.body.days }} day(s))\nReason: {{ $('Leave Submitted').item.json.body.reason }}\n\nPlease approve or decline this leave request.",
        "options": {},
        "operation": "sendAndWait",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        480,
        0
      ],
      "id": "e356a9b4-827b-4a26-a5b8-67cfe830ac48",
      "name": "Manager Approval",
      "webhookId": "7a804ed51b1c40a0",
      "credentials": {
        "gmailOAuth2": {
          "id": "MTzer4MNXRwyE36l",
          "name": "Gmail OAuth (Sales Account)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "ac510a19-39d4-4981-bc6e-ab9373a8a987",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        720,
        0
      ],
      "id": "8e9f34cb-f751-433a-afc4-78bd9174c9e3",
      "name": "If Approved"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Leave Submitted').item.json.body.email }}",
        "subject": "=Your leave request is APPROVED",
        "message": "=Hi {{ $('Leave Submitted').item.json.body.employee }},\n\nGood news! Your {{ $('Leave Submitted').item.json.body.leaveType }} leave from {{ $('Leave Submitted').item.json.body.startDate }} to {{ $('Leave Submitted').item.json.body.endDate }} has been APPROVED by your manager.\n\nEnjoy your time off!\nHR Buddy",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        960,
        -120
      ],
      "id": "516a2807-74f4-42f9-84c0-fd95cdc54462",
      "name": "Notify Approved",
      "webhookId": "eb560c40826246fb",
      "credentials": {
        "gmailOAuth2": {
          "id": "MTzer4MNXRwyE36l",
          "name": "Gmail OAuth (Sales Account)"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Leave Submitted').item.json.body.email }}",
        "subject": "=Your leave request was declined",
        "message": "=Hi {{ $('Leave Submitted').item.json.body.employee }},\n\nUnfortunately your {{ $('Leave Submitted').item.json.body.leaveType }} leave request from {{ $('Leave Submitted').item.json.body.startDate }} to {{ $('Leave Submitted').item.json.body.endDate }} was NOT approved. Please speak with your manager for details.\n\nHR Buddy",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        960,
        120
      ],
      "id": "712cf03a-67d9-4831-999e-9f5d47a5430b",
      "name": "Notify Declined",
      "webhookId": "1b06d7c552a34a36",
      "credentials": {
        "gmailOAuth2": {
          "id": "MTzer4MNXRwyE36l",
          "name": "Gmail OAuth (Sales Account)"
        }
      }
    }
  ],
  "connections": {
    "Leave Submitted": {
      "main": [
        [
          {
            "node": "Manager Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manager Approval": {
      "main": [
        [
          {
            "node": "If Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Approved": {
      "main": [
        [
          {
            "node": "Notify Approved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Declined",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "pinData": {},
  "meta": {
    "templateId": "tertiaryinfotech-n8n-course"
  },
  "tags": []
}